h1 {
    font-size: 24pt;
    margin-bottom: 0;
}
h2 {
    font-size: 18pt;
    text-transform: uppercase;
    margin: 0%;
    padding-top: 20px;
}
.description {
    font-size: 16pt;
    font-style: italic;
}
.extra {
    font-size: 14pt;
    font-style: italic;
}
address {
    white-space: pre-line;
}
#persoinfo {
    text-align: center;
}
.grid-container {
    display: -webkit-inline-box;
    grid: 150px/ auto auto auto;
    grid-gap: 10px;
    padding: 20px;
}

.grid-container > div {
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
}
.grid-container > div > img {
    border-radius: 50%;
    width: 100px;
}

.row {
    display: inline-table;
    grid-gap: 10px;
    padding: 20px;
}

.column {
    flex-direction: column;
}
  